@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
